/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MAIN*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/world.png');
    background-size: cover;
}

header {
    background: linear-gradient(135deg, #590902, #260101);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 40%;
    min-width: 300px;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
}

#container-main {
    width: 80%;
    height: 70vh;
    display: flex;
    margin: auto;
}

#map {
    width: 80%;
    position: relative;
    outline-style: none;
}

footer {
    background: linear-gradient(135deg, #260101, #590902);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    color: #f2c46d;
}

/*CSS DES CARD/POPPUP*/
.id-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: #590902;
    box-shadow: 0 8px 8px #260101;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
}

.id-card::-webkit-scrollbar {
    display: none; 
  }


.img-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #d9843b;
}

.id-card h1 {
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
    color: #d9843b;
}

.id-card .info {
    text-align: center;
    text-align: left;
}

.id-card .info p {
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    color: #85d3f8;
}

.id-card .info h2 {
    text-align: center;
    font-weight: bold;
    color: #f2c46d;
    text-decoration: underline;
}

.info a {
    display: flex;
    justify-content: center;
    width: 30%;
    margin : 10px auto 0px auto;
}


/*Permet le cardPerso de prendre toute la surface du pop-up*/
.custom-popup .leaflet-popup-content-wrapper {
    background: transparent;
    border: none;
}

.custom-popup .leaflet-popup-content {
    margin: 0;
}


/*LISTE A GAUCHE*/
#sidebar {
    width: 20%;
    background-color: #d9843b;
    color: #590902;
    border: 1px solid #590902;
    border-radius: 5px;
}

#recherche {
    border-radius: 5px;
    margin: 10px;
    width: 90%;
}


#list-promo {
    overflow-y: auto;
    height: 90%;
    scrollbar-width: thin; 
    scrollbar-color: #590902 #d9843b;
}


#list-promo li {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #d9843b;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 1s ease, height 1s ease, margin 1s ease, padding 1s ease;
    opacity: 1;
    height: auto;
    overflow: hidden;
    background-color: #590902;
    color: #d9843b;
}

/*Fait completement disparaitre le marker non recherché*/
#list-promo li.hidden {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

#list-promo li:hover {
    background-color: #d9843b;
    color:#590902;
    border: 1px solid #590902;
}

#list-promo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

#list-promo span {
    font-size: 16px;
    font-weight: bold;
}

  /*telephone et autre */

  @media (max-width:720px) {
    #container-main {
        flex-direction: column-reverse;
    }
    #map {
        width: 100%;
        height: 70%;
    }
    #sidebar {
        width: 100%;
        height: 30%;
    }
  }

  /* Tablette */

  @media (min-width:720px) and (max-width: 1080px) {
    #map {
        width: 70%;
    }
    #sidebar {
        width: 30%;
    }
  }

  