/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,
h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,
ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,
mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css de card */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../img/world.png');
    background-size: cover;
}

header {
    background: linear-gradient(135deg, #590902, #260101);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

header img {
    width: 20%;
}

main {
    flex: 1;
}

.id-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: #590902;
    box-shadow: 0 8px 8px #260101;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.id-card:hover {
    opacity: 10px;
    transition: opacity 2s ease-in-out;
}

.id-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #260101;
}

.id-card h1 {
    text-align: center;
    font-size: 22px;
    margin: 10px 0;
    color: #d9843b;
}

.id-card .info {
    text-align: center;
    margin: 15px 0;
    text-align: left;
}

.id-card .info p {
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
    color: #85d3f8;
}

.id-card .info h2 {
    text-align: center;
    font-weight: bold;
    color: #f2c46d;
}

footer {
    background: linear-gradient(135deg, #260101, #590902);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    color: #f2c46d;
}

/*Permet le cardPerso de prendre toute la surface du pop-up*/
.custom-popup .leaflet-popup-content-wrapper {
    background: transparent;
    border: none;
}

.custom-popup .leaflet-popup-content {
    margin: 0;
}


/*Liste gauche*/

#sidebar {
    min-height: 300px;
    max-height: 600px;
    width: 300px;
}

#recherche {
    border-radius: 5px;
    margin: 10px;
    width: 90%;
}

#sidebar h1 {
    font-size: 30px;
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

#list-promo {
    overflow-y: auto;
    height: 80%;
}

#sidebar {
    background-color: #d9843b;
    color: #590902;
    border: 1px solid #590902;
    border-radius: 5px;
}

#list-promo li {
    display: flex;
    /* Toujours afficher en flex pour les transitions */
    align-items: center;
    padding: 10px;
    border: 1px solid #d9843b;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 1s ease, height 1s ease, margin 1s ease, padding 1s ease;
    /* Transition fluide */
    opacity: 1;
    /* Entièrement visible par défaut */
    height: auto;
    /* Ajuste automatiquement à son contenu */
    overflow: hidden;
    /* Cache les débordements pour la transition */
    background-color: #590902;
    color: #d9843b;
}

#list-promo li.hidden {
    opacity: 0;
    /* Rendu invisible */
    height: 0;
    /* Réduit la hauteur à 0 */
    margin: 0;
    /* Supprime les marges */
    padding: 0;
    /* Supprime le remplissage */
    border: none;
    /* Supprime la bordure */
}

#list-promo li:hover {
    background-color: #eaeaea;
}

#list-promo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

#list-promo span {
    font-size: 16px;
    font-weight: bold;
}